<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ruby 101</title>
    <link rel="stylesheet" href="css/coderay.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <style type="text/css" media="screen">
      @import url(http://fonts.googleapis.com/css?family=Lato);

      body {
        font: 11pt "Gill Sans", "Lato", serif;
        margin: 5em 10em 5em 5em;
      }

      code {
        background-color: hsl(0,0%,95%);
        border-radius: 3px;
        padding: .2em .4em;
      }

      h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
        background-color: inherit;
        padding: .0em .0em;
      }
   </style>
  </head>
  <body>
    <%= @content %>

    <br />
    <hr />
    <div style='text-align: right;'>
      Version: <%= @version %>
    </div>
  </body>
</html>
