<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ruby 101</title>
    <link rel="stylesheet" href="css/coderay.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <style type="text/css" media="screen">
      @import url(http://fonts.googleapis.com/css?family=Lato);

      body {
        font: 11pt "Gill Sans", "Lato", serif;
        margin: 5em 10em 5em 5em;
      }

    </style>
  </head>
  <body>
    <%= @content %>

    <br />
    <hr />
    <div style='text-align: right;'>
      Version: <%= @version %>
    </div>
  </body>
</html>
